@font-face {
  font-family: 'Josefin';
  src: url(../assets/font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'JosefinItalic';
  src: url(../assets/font/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

h1, h3, p, label{
    font-family: 'Josefin';
    font-size: 2.5em;
}

h2, h4, a{
    font-family: 'JosefinItalic';
    font-size: 2em;
    color: #373737;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.2em;
}

p{
    font-size: 14px;
}

a, label{
    font-size: 1.5em;
    text-decoration: none;
}

.guia_color {
    border: #000000 1px solid;
    border-radius: 50%;
}

.black-bg {
    background: #000000;
}

.black-text {
    color: #000000;
}

.grey-bg {
    background: #808285;
}

.grey-text {
    color: #808285;
}

.gold-bg {
    background: #D6BF65;
}

.gold-text {
    color: #D6BF65;
}

.lightgrey-bg {
    background: #F5F6F0;
}

.lightgrey-text {
    color: #F5F6F0;
}

.white-bg {
    background: #FFFFFF;
}

.white-text {
    color: #FFFFFF;
}